body {
    background-color: blue;


    background-image: url("https://d.newsweek.com/en/full/1955557/attack-titan.jpg?w=1600&h=1200&q=88&f=f8413d10f4fdc9f8f7be5a1f82432fa2");

}

.an_item {
    color: crimson;
    text-decoration-color: aquamarine;
}

.yetAnotherOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: orangered;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anotherone {
    flex: content;
    color: whitesmoke;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}