body {
    background-color: red;

    background-image: url(https://i.pinimg.com/originals/9e/bc/9d/9ebc9d950d20afd9fe30d6dd7b6b32e8.jpg);
}

.an_item {
    color: blue;
}

.yetAnotherOne {
    display: flex;
    flex-wrap: wrap-reverse;
}

.anotherone {
    display: flex;
    font-size: medium;

}

@media screen and (min-width: 760px) and (max-width: 999px) {
    body {
        background-color: green;

        background: url(https://w0.peakpx.com/wallpaper/144/132/HD-wallpaper-fullmetal-alchemist-edward-alphonse-edward-fullmetal-alchemist-anime-alphonse-thumbnail.jpg) no-repeat center fixed;
        background-size: cover;
    }

    .an_item {
        color: purple;
        background-color: orangered;

    }

}

@media screen and (min-width: 1000px) {
    body {
        background-color: blue;


        background: url("https://d.newsweek.com/en/full/1955557/attack-titan.jpg?w=1600&h=1200&q=88&f=f8413d10f4fdc9f8f7be5a1f82432fa2") no-repeat center fixed;
        background-size: cover;


    }

    .an_item {
        color: crimson;
    }

    .yetAnotherOne {
        color: orangered;
        font-size: larger;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .anotherone {
        flex: content;
        color: whitesmoke;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}